Package: com.atttqj.wclgfreemodehook
Name: WCLG Free Mode Hook
Version: 3.0.2-5.1
Architecture: iphoneos-arm
Description: UUID-bound companion hook for WCGlass 3.0.2-5 cache-path testing.
Maintainer: ATTTQJ
Author: ATTTQJ
Section: Tweaks
Depends: mobilesubstrate
