Package: com.atttqj.wclgauthcachepoc
Name: WCGlass Free Mode
Version: 0.4.0
Architecture: iphoneos-arm
Description: Single full-feature WCGlass FAT dylib with authorization checks removed.
Maintainer: ATTTQJ
Author: ATTTQJ
Section: Tweaks
Depends: mobilesubstrate
