Package: com.atttqj.wclgauthcachepoc
Name: WCGlass Full Auth Cache PoC
Version: 0.2.0
Architecture: iphoneos-arm
Description: Full WCGlass plugin plus authorization-cache regression companion.
Maintainer: ATTTQJ
Author: ATTTQJ
Section: Tweaks
Depends: mobilesubstrate
